<%- include('../partials/header'); -%>
<div id="requestBody">
  <div class="container" style="margin-top: 5rem; ">
    <h1 id="reqTitle">Send request to <%=constructor.name%> </h1>
       <div class="row">
         <div class="col-12">
            <form action="/constructors/<%=constructor._id%>/request/" method="post">
                  <div class="form-group">
                      <label for="request"><h6 id="subTitle">
                       Please explain your request distinctly so that the constructor can get you exactly what you want.
                      </h6></label>
                       <textarea name="requestText" required placeholder="Write your request here.." 
                       class="form-control w-75" rows="5"
                       id="reqtextarea"></textarea><br>
                  </div> 
                  <button class="btn btn-success btn-lg">Send Request</button>
            </form>
         </div>
        </div>
  </div>
 </div>       
 <%- include('../partials/footer'); -%>