<h1>Creat a New Request to <%=constructor.name%></h1>



<form action="/constructors/<%=constructor._id%>/request/" method="post">
  <ul class="inputs">
    <li>
      <label for="request">Your Request</label>
      <input type="text" id="requestText" name="requestText" placeholder="please,write your problem" />
    </li>
   
  </ul>
   
  </form>

  