<%- include('partials/header'); -%>

<h1>Sign Up</h1>

<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <input type="text" name="Email" placeholder="Email" />
  <input type="text" name="admin" placeholder="Admin Code" />
  <button>submit</button>
</form>

<%- include('partials/footer'); -%>
