<h1>Creat a New Category</h1>


<form action="/category" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <input type="text" name="desc" placeholder="description">
    <button>Submit!</button>


</form>