<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main">
        <h1>User Profile</h1>
        <hr>
        <h2>My Orders</h2>
        <% orders.forEach(function(orders){%>
            <ul class="list-group">
              
                    <li class="list-group-item border">
                      <%=orders._id%>---<%=orders%>----<%=orders.cart.totalQty %> </li>
                      
                <li class="list-group-item list-group-item-success">Total price:<%=orders.cart.totalPrice %> </li>
            </ul>
            <%})%>
    </div>
  </div>
  