#commentContainer{
	max-width: 700px;
	margin-left:5px;
}
#commentArea{
	resize:none;
	display:block;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
}

#commentTitle{
	font-weight: bold;
	margin-top: 5rem;
	padding: 20px;
}
#commentBody{
	padding:2rem;
	position: fixed;
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	overflow: auto;
	background-color:#f2f2f2;
}
#back{
	margin-top: 15px;
	font-size: 20px;
	color: #1a1a1a;
	font-family: 'Merriweather';
}