.navbar {
  border-radius: 0;

}
#fback-textarea {
  height: 10rem;
  width: 24rem;
  padding: 5px;
}

#contactbody {
  background-color: #e0ebeb;
}

#contact-header {
  color: #00264d;
}
#fback-description {
  padding-bottom: 35px;
  color: #00264d;
}

#send-button {
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 1rem;
  font-size: 20px;
}
#pfollow {
  font-size: 25px;
  padding-top: 3rem;
  color: #00264d;
}
#fb-icon {
  font-size: 35px;
  color: #00264d;
}
#contact-container {
  background-color: white;
  padding: 30px 30px;
  width: 30rem;
  height: 35rem;
  margin: 2rem auto;
}
#contact-div {
  text-align: center;
}
/*show constructor*/
#imgProfile{
	width: 150px; 
	height: 130px;
}
#labelstyle{
	font-weight:bold;
}
#style{
	margin-top: 15px;
}
#goBackBtn{
	margin-top: 10px;
	margin-bottom: 15px;
	color: #262626;
	font-size: 25px;
}
#edit{
	float: right;
  }
/*comment page*/
#commentContainer{
	max-width: 700px;
	margin-left:5px;
}
#commentArea{
	resize:none;
	display:block;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
}

#commentTitle{
	font-weight: bold;
	margin-top: 5rem;
	padding: 20px;
}
#commentBody{
	padding:2rem;
	position: fixed;
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	overflow: auto;
	background-color:#f2f2f2;
}
#back{
	margin-top: 15px;
	font-size: 20px;
	color: #1a1a1a;
	font-family: 'Merriweather';
}
/* login/register forms */
#title{
	padding-bottom: 2rem;

}
#inputText{
  border: 1px solid #dcdcdc;
}
#x{
  margin-top: 3px;;
}
#btnsize{
  width: 16.5rem;
}
/*Request page*/
#requestBody{
	background-color: #f2f2f2; 
	padding-bottom: 50px ;
	padding-top: 10px;
	text-align: center;
}
#reqTitle{
	margin-bottom: 20px;
}
#subTitle{
	padding-bottom:10px;
}
#reqtextarea{
	height: 200px; 
	resize: none; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}
/*checkout page*/
#checkform{
	padding-bottom: 20px;
}