.navbar {
  border-radius: 0;
}

#fback-textarea {
  height: 10rem;
  width: 24rem;
  padding: 5px;
}

#contactbody {
  background-color: #e0ebeb;
}

#contact-header {
  color: #00264d;
}
#fback-description {
  padding-bottom: 35px;
  color: #00264d;
}

#send-button {
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 1rem;
  font-size: 20px;
}
#pfollow {
  font-size: 25px;
  padding-top: 3rem;
  color: #00264d;
}
#fb-icon {
  font-size: 35px;
  color: #00264d;
}
#contact-container {
  background-color: white;
  padding: 30px 30px;
  width: 30rem;
  height: 35rem;
  margin: 2rem auto;
}
#contact-div {
  text-align: center;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background: #2c3e50;
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
  background: linear-gradient(to right, #3498db, #2c3e50);
}
