<h1>Creat a New product to <%=company.name%></h1>


<form action="/company/<%=company._id%>/product" method="POST">
    <input type="text" name="product[name]" placeholder="name">
    <input type="text" name="product[image]" placeholder="image">
    <input type="text" name="product[price]" placeholder="price">
    <input type="text" name="product[description]" placeholder="description">
    <input type="text" name="product[unit]" placeholder="unit">
    
    <button>Submit!</button>


</form>


