<%- include('../partials/header'); -%>
<div class="container" style="text-align: center; margin-top: 6rem;">
    <h1 style="padding-bottom: 10px;">Checkout</h1>
    <div class="card w-75 mx-auto">
        <h4 style="padding-top: 20px;">Your Total: <%=total%> L.E</h4>
        <div class="card-body">
            <form>
                <div class="form-row">
                  <div class="col-md-6 mb-3" id="checkform">
                    <input type="text"  class="form-control" placeholder="Full Name" required>
                  </div>
                  <div class="col-md-6 mb-3" id="checkform">
                    <input type="text" class="form-control" placeholder="Phone Number"  required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3" id="checkform" >
                    <input type="text" class="form-control" placeholder="Address" required>
                  </div>
              <div class="col-md-3 mb-3">
                    <input type="text" class="form-control" placeholder="Region" required>
                  </div>
                  <div class="col-md-3 mb-3" id="checkform">
                    <input type="text" class="form-control" placeholder="City" required>
                  </div>
                </div>
                <div class="float-right">
                <button class="btn btn-success btn-block" style="width:12rem;" type="submit">Buy Now</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <%- include('../partials/footer'); -%>

